
<div class = "text-center align-middle">
    <h1>Application voyage</h1>
    <h2>à Propos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicuid provident illo, dicta repellendus a laudantium beatae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicuid provident illo, dicta repellendus a laudantium beatae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicuid provident illo, dicta repellendus a laudantium beatae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicuid provident illo, dicta repellendus a laudantium beatae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicuid provident illo, dicta repellendus a laudantium beatae.</p>
    
    </div>

